<?xml version="1.0" encoding="UTF-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SevenReservas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Inicio Conexion dcom-->
    <add key="usuario" value="SEVEN12" />
    <add key="password" value="sistemas12" />
    <add key="alias" value="sevenDesarrollo" />
    <add key="Emp_codi" value="102" />
    <add key="ItemsMesasNoDisponibles" value="9;10" />
    <!-- Fin Conexion dcom-->
    <add key="sourceDB" value="DwOXml/ODBConfig.xml" />
    <add key="sourceBO" value="DwOXml/OBOConfig.xml" />
    <add key="sourceCE" value="DwOXml/OCEConfig.xml" />
    <add key="CorreoSsl" value="true" />
    <add key="MedioReserva" value="10208" />
    <add key="ReciboPQR" value="10451" />
    <!--// Consecutivo interno de Forma recibo PQR -->
    <add key="UrlWorkFlow" value="http://cerezo/seven/webservicesophelia/WWfRflup.asmx" />
    <!--// Url del servicio web que crea los casos en WorkFlow -->
    <add key="WfProcodi" value="SPQINPQR" />
    <!--// Programa del flujo al que se desea adicionar -->
    <add key="WfForcodi" value="SPQINPQR" />
    <!--// Forma del flujo al que se desea adicionar -->
    <add key="Logs" value="L" />
    <!--// Archivo de logs L= Archivo , B=Base de datos  N=No genere     -->
    <add key="logT" value="L" />
    <!--// Archivo de logs de tranzacciones    -->
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config para .NET 4.5, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
        <hiddenSegments>
          <add segment="DwOXml" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
        <directoryBrowse enabled="true" />
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>